# Ignore Python bytecode
*.pyc
*.pyo
__pycache__/
*.__init__

# Ignore virtual environments
venv/
env/

# Ignore environment variables and secrets
*.env
*.local

# Ignore logs and database files
*.log
*.sqlite3

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/

__init__.py
config/__init__.py
imdb_fastapi/__init__.py
imdb_fastapi/routes/__init__.py
logs/__init__.py
models/__init__.py
scrapers/__init__.py
transform_validate/__init__.py
utils/__init__.py